[mysqld]

# 旧 MySQL (5.7) との互換性確保
# default_authentication_plugin=mysql_native_password

# ストップワード判定を無効
innodb_ft_enable_stopword = OFF

# TIMESTAMP型の非標準動作を許可しない = true
explicit_defaults_for_timestamp = true

# SQL文で関数使用時にスペースがあっても許す, ||演算子で文字列結合(=concat)を許す
sql_mode = 'IGNORE_SPACE,PIPES_AS_CONCAT'
# server-id = 101010101

# functionもインポートできるようにする
log-bin-trust-function-creators=1

# 4バイトUTF-8文字を扱えるようにする
character-set-server = utf8mb4

collation-server = utf8mb4_0900_bin

# MySQL5.7の設定の互換性確保
# character-set-server = utf8
# collation-server = utf8_general_ci
# init-connect = SET NAMES utf8

# テーブル名は小文字に強制・矯正、大文字小文字を区別しない
lower_case_table_names = 1

# バイナリログ保存期間（秒） デフォルトは30日(2592000)
binlog_expire_logs_seconds=2592000

# スロークエリログを出力するかどうか
slow_query_log=1

# スロークエリと判断する秒数 (0~10)
long_query_time = 1.0

# 最大同時接続数
max_connections = 10000

# MySQLプロトコルに従わない接続要求が n回 あった時にブロックする
max_connect_errors = 5

# transaction_isolation = READ-COMMITTED

# サーバーのスペックをもとにシステム変数を推奨値に自動設定してくれる
innodb_dedicated_server=ON

# 行ロック時のタイムアウト（秒）
innodb_lock_wait_timeout = 10

# innodb_flush_log_at_trx_commit=0

# datadir=/var/lib/mysql
# socket=/var/lib/mysql/mysql.sock

# レプリケーションエラー「Error Code: 1062. Duplicate entry 'xxx' for key 'xxx.PRIMARY'」を無視する
# マスターDBとスレーブDBでデータの不整合が発生した場合に発生する 1032 エラーを無視してレプリケーションを継続する
# slave-skip-errors=1062,1032

log-error=/tmp/log/mysqld.log
# pid-file=/var/run/mysqld/mysqld.pid

general_log=1
general_log_file=/tmp/log/db_query.log
